[user]
    name = penzulo
    email = bhardesh2005@gmail.com
	signingKey = 18055DDD2480CA49

[core]
    editor = helix
    pager = delta
	excludesFile = ~/.config/git/global_ignore

[init]
    defaultBranch = main

[pull]
    rebase = true

[rebase]
    autoStash = true

[merge]
    conflictStyle = zdiff3

[diff]
    algorithm = patience

[commit]
	gpgsign = true
    template = ~/.config/git/gitmessage

[alias]
    s = !~/.local/bin/git-pretty-status
    co = checkout
    br = branch
    ci = commit
    last = log -1 HEAD
    unstage = reset HEAD --
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    pushf = push --force-with-lease
    aliases = config --get-regexp ^alias\\.

[rerere]
    enabled = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true

# Include your work-specific config only for projects in your work directory
[includeIf "gitdir:~/Workspace/"]
    path = ~/.config/git/workconfig
