layout {
    tab name="Editor" {
        pane command="hx" cwd="."
    }
    tab name="Work" {
        pane split_direction="vertical" {
            pane name="Git" command="nu" cwd="." 
            pane name="Shell" command="nu" cwd="."
        }
    }
    tab name="Tools" {
        pane
    }
}
