configuration {
    modes:           [drun, recursivebrowser, emoji];
    font:            "JetBrainsMono Nerd Font 12";
    show-icons:      true;
    icon-theme:      "Gruvbox-Dark-Medium";
    terminal:        "alacritty";
    drun-display-format: "{name}";
    sort: true;
    sorting-method: "fzf";
    lines: 0;
}

/* Load the theme file */
@theme "themes/gruvbox-dark.rasi"
