window {
margin: 0px;
border: 1px solid #928374;
background-color: rgba(40, 40, 40, 0.8);
}

#input {
margin: 5px;
border: none;
color: #ebdbb2;
/* background-color: rgba(29, 32, 33, 0.8); */
}

#inner-box {
margin: 5px;
border: none;
/* background-color: rgba(40, 40, 40, 0.8); */
}

#outer-box {
margin: 5px;
border: none;
/* background-color: rgba(40, 40, 40, 0.8); */
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #ebdbb2;
}

#entry:selected {
/* background-color: rgba(29, 32, 33, 0.8); */
}
